:root {
    --branding-color: #816095;
    --heading-font-family: recursive;
    --text-decoration: underline;
}
h1 {
    font-family: var(--heading-font-family);
    font-weight: 800;
    font-size: 80px;
    line-height: 1.5;
    padding-bottom: 20px;
}
h2, h5 {
    text-align: center;
    font-family: var(--heading-font-family);
    font-weight: 700;
}
h2 {
  font-size: 40px;
}
p {
    font-family: var(--heading-font-family);
    font-size: 14px;
    font-weight: 700;
}

.active {
    color: var(--branding-color) !important;
    font-weight: 500;
}
.main-lions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-image {
    width: 900px;
    border-radius: 10px;
}
.portfolio-logo {
    width: 120px;
}
body {
    background-image: url("/jura-bakx-IwcRAzMUBmE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.about-my-cats-container {
    display: grid;
    margin: 30px 40px 30px 30px;
}
.cleo-photo {
   width: 400px;
    height: 380px;
    padding: 10px;
}
.about-cleo  h5 {
    text-align: left;
    padding: 10px 2px;
    font-family: var(--heading-font-family);
    font-weight: 800;
    text-decoration: var(--text-decoration);
}
.about-cleo p {
    font-size: 15px;
    font-family: var(--heading-font-family);
}
.about-finn  h5{
    text-align: left;
    padding:  10px 2px;
    font-family: var(--heading-font-family);
    font-weight: 800;
    text-decoration: var(--text-decoration);
}
.about-cleo {
    color: black;
}
.about-finn p {
    font-size: 15px;
    font-family: var(--heading-font-family);
}
.finn-photo {
    width: 400px;
    height: 380px;
    padding: 10px;
}
.small-cats-container {
    margin: 0 60px;
}
.nav-link {
    font-family: var(--heading-font-family);
    font-size: 15px;
}
@media (max-width: 560px) {
    h1 {
        font-size: 30px;
        line-height: 2;
        margin-top: 20px;
    }
    .centered-image {
        max-width: 100%;
        margin-top: 60px;
    }
    h2 {
        font-size: 30px;
        font-weight: 500;
    }
    .active {
        color: var(--branding-color) !important;
    }
    .about-cleo h5 {
        text-align: left;
        color: beige;
        font-size: 20px;
    }
    .about-cleo p {
        text-align: left;
        padding-bottom: 36px;
        color: beige;
    }
    .about-finn h5 {
        text-align: left;
        color: beige;
        font-size: 20px;
    }
    .about-finn p {
        text-align: left;
        padding-bottom: 20px;
        color: beige;
    }
    .facts-cleo, .facts-finn {
        font-size: 14px;
        text-align: left;
    }
    .cleo-photo, .finn-photo {
        display: block;
        margin: 0 auto;
    }
    .heading-2 {
        font-size: 25px;
        font-weight: 400px;
        margin-top: 20px;
    }
    .card-body p {
        font-size: 12px;
        font-weight: 400;
    }
    h5 {
        font-size: 12px;
        font-weight: 400;
    }
}